.products-list {
    margin-top: 3vh;
    max-height: 80vh; /* Limitar la altura máxima para que se pueda hacer scroll dentro de este contenedor */
    overflow-y: auto; /* Mostrar scroll vertical solo cuando el contenido exceda la altura máxima */
    overflow-x: hidden; /* Ocultar scroll horizontal si no es necesario */
  }
  
.products-list > div {
    padding: 1rem;  
}