.plate-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #f9f9f9;
    width: 93%;
}

.plate-units {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.plate-name {
    font-size: 16px;
    font-weight: bold;
}

.plate-state {
    width: 93%;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.state-1 {
    background-color: orange; /* En cola */
}

.state-2 {
    background-color: blue; /* En preparación */
}

.state-3 {
    background-color: green; /* Realizado */
}
