.plate-container {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #f9f9f9;
    width: 93%;
}

.plate-name {
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.plate-state {
    width: 30%;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.state-1 {
    background-color: rgb(175, 174, 172); /* En cola */
}

.state-2 {
    background-color: rgb(241, 184, 71); /* En preparación */
}

.state-3 {
    background-color: green; /* Realizado */
}
