#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  /* border: 2px solid red; */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid red; */
  margin-top: 1vh;
  width: 100%;
}

.table-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table-number {
  font-size: 10vh;
  font-weight: bold;
}

.table-name {
  font-size: 3vh;
  font-weight: bold;
}

.logo {
  width: 20vh;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 1vh;
  width: 100%;
}