#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  /* border: 2px solid red; */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid red; */
  margin-top: 1vh;
  width: 100%;
}

.table-title {
  display: flex;
  flex-direction: column;
}

.table-number {
  font-size: 10vh;
  font-weight: bold;
  margin-bottom: 20vh;
}

.table-name {
  font-size: 3vh;
  font-weight: bold;
}