#root {
  max-width: 1280px;
  margin: -3vh auto;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.app-container {
  /* border: 2px solid red; */
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid red; */
  margin-top: 1vh;
  width: 100%;
}

.table-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-number-1 {
  font-size: 3vh;
  font-weight: bold;
}

.table-number-2 {
  font-size: 8vh;
  font-weight: bold;
}

.table-name {
  font-size: 3vh;
  font-weight: bold;
}

.logo-1 > img {
  width: 10vh;
  height: auto;
}

.logo-2 > img {
  width: 30vh;
  height: auto;
}

.header-1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: -2vh;
}